## 1. 連接資料庫
### 以下為提供大家使用的Google Cloud雲端資料庫，可根據以下網址登入查看資料表：

#### 網址：http://35.201.158.248/phpmyadmin/
#### 帳號：sc1387
#### 密碼：1234
#### 資料庫：python_ds
#### 資料表：A_LVR_LAND、iris、NHI

In [1]:
import mysql.connector
import pandas.io.sql as sql

#連接資料庫
config = {
    'user': 'sc1387',
    'password': '1234',
    'host': '35.201.158.248',
    'database': 'python_ds'
}
cnx = mysql.connector.connect(**config)

#readinto dataframe
df = sql.read_sql('select * from A_LVR_LAND;', cnx)
df.head()

  鄉鎮市區  建物移轉總面積平方公尺  建物現況格局-房  建物現況格局-廳       總價元  單價每平方公尺
0  文山區        90.63         3         2  12000000   132406
1  北投區       164.59         5         2  11800000    71693
2  萬華區        34.15         1         1   8200000   240117
3  萬華區        43.40         1         1   9000000   207373
4  萬華區        40.95         0         1   9520000   232479

# 2. DataFrame匯出為.csv檔

In [2]:
df.to_csv('A_LVR_LAND.csv', encoding = 'big5')

# 3. 讀取csv

In [3]:
import pandas as pd

df = pd.read_csv("A_LVR_LAND.csv",encoding='big5')
#df = df.drop('Unnamed: 0', axis=1) #刪除指定欄位
df.head()

   Unnamed: 0 鄉鎮市區  建物移轉總面積平方公尺  建物現況格局-房  建物現況格局-廳       總價元  單價每平方公尺
0           0  文山區        90.63         3         2  12000000   132406
1           1  北投區       164.59         5         2  11800000    71693
2           2  萬華區        34.15         1         1   8200000   240117
3           3  萬華區        43.40         1         1   9000000   207373
4           4  萬華區        40.95         0         1   9520000   232479

# 4. 讀取Excel

In [4]:
df = pd.read_excel("A_LVR_LAND.xlsx", sheet_name = 'sheet1')
df.head()

   建物移轉總面積平方公尺  建物現況格局-房  建物現況格局-廳  建物現況格局-衛       總價元
0       133.85         3         2         2  13600000
1        74.08         0         2         1  19700000
2       109.87         3         2         2  12550000
3        50.02         1         1         1   9800000
4        81.38         3         2         2  15800000