In [1]:
import requests
data = {
    'response':'json',
    'date':'20180201',
    'stockNo':'2330',
    '_':'1520905854825'
}
res = requests.get('http://www.twse.com.tw/exchangeReport/STOCK_DAY', params=data)
print(res.text)

{"stat":"OK","date":"20180201","title":"107年02月 2330 台積電           各日成交資訊","fields":["日期","成交股數","成交金額","開盤價","最高價","最低價","收盤價","漲跌價差","成交筆數"],"data":[["107/02/01","30,900,457","8,022,694,430","257.50","261.00","257.00","259.50","+4.50","13,598"],["107/02/02","25,707,560","6,633,344,540","259.00","260.00","255.00","259.50"," 0.00","11,404"],["107/02/05","46,554,379","11,742,299,859","251.00","254.50","250.50","253.00","-6.50","16,909"],["107/02/06","104,448,048","24,944,565,955","242.50","243.50","234.00","239.00","-14.00","35,455"],["107/02/07","82,299,178","19,903,032,966","245.00","245.50","239.50","240.00","+1.00","22,962"],["107/02/08","31,192,550","7,468,970,072","239.50","242.00","238.00","238.50","-1.50","10,274"],["107/02/09","65,939,265","15,227,192,540","230.00","233.00","228.50","232.50","-6.00","19,749"],["107/02/12","42,917,236","10,113,012,768","235.50","237.50","235.00","236.50","+4.00","10,851"],["107/02/21","76,396,174","18,582,475,956","244.50","244.50","242.00","242.50","+6.00","21,512"],["107/02/22","45,492,993","10,977,665,819","244.00","244.00","239.00","239.50","-3.00","10,071"],["107/02/23","26,985,776","6,578,657,620","241.00","245.00","241.00","245.00","+5.50","10,178"],["107/02/26","36,165,810","8,910,352,170","247.00","247.50","245.00","246.50","+1.50","12,565"],["107/02/27","44,699,119","11,061,945,363","250.50","250.50","246.00","246.00","-0.50","10,908"]],"notes":["符號說明:+/-/X表示漲/跌/不比價","當日統計資訊含一般、零股、盤後定價、鉅額交易，不含拍賣、標購。","ETF證券代號第六碼為K、M、S、C者，表示該ETF以外幣交易。"]}

In [2]:
import json
result = json.loads(res.text)

In [3]:
result

{'data': [['107/02/01',
   '30,900,457',
   '8,022,694,430',
   '257.50',
   '261.00',
   '257.00',
   '259.50',
   '+4.50',
   '13,598'],
  ['107/02/02',
   '25,707,560',
   '6,633,344,540',
   '259.00',
   '260.00',
   '255.00',
   '259.50',
   ' 0.00',
   '11,404'],
  ['107/02/05',
   '46,554,379',
   '11,742,299,859',
   '251.00',
   '254.50',
   '250.50',
   '253.00',
   '-6.50',
   '16,909'],
  ['107/02/06',
   '104,448,048',
   '24,944,565,955',
   '242.50',
   '243.50',
   '234.00',
   '239.00',
   '-14.00',
   '35,455'],
  ['107/02/07',
   '82,299,178',
   '19,903,032,966',
   '245.00',
   '245.50',
   '239.50',
   '240.00',
   '+1.00',
   '22,962'],
  ['107/02/08',
   '31,192,550',
   '7,468,970,072',
   '239.50',
   '242.00',
   '238.00',
   '238.50',
   '-1.50',
   '10,274'],
  ['107/02/09',
   '65,939,265',
   '15,227,192,540',
   '230.00',
   '233.00',
   '228.50',
   '232.50',
   '-6.00',
   '19,749'],
  ['107/02/12',
   '42,917,236',
   '10,113,012,768',
   '235.50',
   '237.50',
   '235.00',
   '236.50',
   '+4.00',
   '10,851'],
  ['107/02/21',
   '76,396,174',
   '18,582,475,956',
   '244.50',
   '244.50',
   '242.00',
   '242.50',
   '+6.00',
   '21,512'],
  ['107/02/22',
   '45,492,993',
   '10,977,665,819',
   '244.00',
   '244.00',
   '239.00',
   '239.50',
   '-3.00',
   '10,071'],
  ['107/02/23',
   '26,985,776',
   '6,578,657,620',
   '241.00',
   '245.00',
   '241.00',
   '245.00',
   '+5.50',
   '10,178'],
  ['107/02/26',
   '36,165,810',
   '8,910,352,170',
   '247.00',
   '247.50',
   '245.00',
   '246.50',
   '+1.50',
   '12,565'],
  ['107/02/27',
   '44,699,119',
   '11,061,945,363',
   '250.50',
   '250.50',
   '246.00',
   '246.00',
   '-0.50',
   '10,908']],
 'date': '20180201',
 'fields': ['日期', '成交股數', '成交金額', '開盤價', '最高價', '最低價', '收盤價', '漲跌價差', '成交筆數'],
 'notes': ['符號說明:+/-/X表示漲/跌/不比價',
  '當日統計資訊含一般、零股、盤後定價、鉅額交易，不含拍賣、標購。',
  'ETF證券代號第六碼為K、M、S、C者，表示該ETF以外幣交易。'],
 'stat': 'OK',
 'title': '107年02月 2330 台積電           各日成交資訊'}

In [4]:
import pandas as pd
df = pd.DataFrame(result['data'])
df

,0,1,2,3,4,5,6,7,8
0,107/02/01,"30,900,457","8,022,694,430",257.50,261.00,257.00,259.50,+4.50,"13,598"
1,107/02/02,"25,707,560","6,633,344,540",259.00,260.00,255.00,259.50,0.00,"11,404"
2,107/02/05,"46,554,379","11,742,299,859",251.00,254.50,250.50,253.00,-6.50,"16,909"
3,107/02/06,"104,448,048","24,944,565,955",242.50,243.50,234.00,239.00,-14.00,"35,455"
4,107/02/07,"82,299,178","19,903,032,966",245.00,245.50,239.50,240.00,+1.00,"22,962"
5,107/02/08,"31,192,550","7,468,970,072",239.50,242.00,238.00,238.50,-1.50,"10,274"
6,107/02/09,"65,939,265","15,227,192,540",230.00,233.00,228.50,232.50,-6.00,"19,749"
7,107/02/12,"42,917,236","10,113,012,768",235.50,237.50,235.00,236.50,+4.00,"10,851"
8,107/02/21,"76,396,174","18,582,475,956",244.50,244.50,242.00,242.50,+6.00,"21,512"
9,107/02/22,"45,492,993","10,977,665,819",244.00,244.00,239.00,239.50,-3.00,"10,071"
10,107/02/23,"26,985,776","6,578,657,620",241.00,245.00,241.00,245.00,+5.50,"10,178"
11,107/02/26,"36,165,810","8,910,352,170",247.00,247.50,245.00,246.50,+1.50,"12,565"
12,107/02/27,"44,699,119","11,061,945,363",250.50,250.50,246.00,246.00,-0.50,"10,908"

In [5]:
df.columns = result['fields']
df

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,107/02/01,"30,900,457","8,022,694,430",257.50,261.00,257.00,259.50,+4.50,"13,598"
1,107/02/02,"25,707,560","6,633,344,540",259.00,260.00,255.00,259.50,0.00,"11,404"
2,107/02/05,"46,554,379","11,742,299,859",251.00,254.50,250.50,253.00,-6.50,"16,909"
3,107/02/06,"104,448,048","24,944,565,955",242.50,243.50,234.00,239.00,-14.00,"35,455"
4,107/02/07,"82,299,178","19,903,032,966",245.00,245.50,239.50,240.00,+1.00,"22,962"
5,107/02/08,"31,192,550","7,468,970,072",239.50,242.00,238.00,238.50,-1.50,"10,274"
6,107/02/09,"65,939,265","15,227,192,540",230.00,233.00,228.50,232.50,-6.00,"19,749"
7,107/02/12,"42,917,236","10,113,012,768",235.50,237.50,235.00,236.50,+4.00,"10,851"
8,107/02/21,"76,396,174","18,582,475,956",244.50,244.50,242.00,242.50,+6.00,"21,512"
9,107/02/22,"45,492,993","10,977,665,819",244.00,244.00,239.00,239.50,-3.00,"10,071"
10,107/02/23,"26,985,776","6,578,657,620",241.00,245.00,241.00,245.00,+5.50,"10,178"
11,107/02/26,"36,165,810","8,910,352,170",247.00,247.50,245.00,246.50,+1.50,"12,565"
12,107/02/27,"44,699,119","11,061,945,363",250.50,250.50,246.00,246.00,-0.50,"10,908"